*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    background-color: black;
    display: block;
    height: 100px;

}

aside {
    background-color: #9b1212;
    display: inline-block;
    height: 155vh;
    width: 20%;
    vertical-align: top;
    list-style-type: none;
    
}

section{
    background-color:#E11800;
    display: inline-block;
    width: 80%;
    height: 155vh;
    
}

li {
    display: inline;

}           
.item2 {
      background-color: rgb(8, 8, 8);
      margin-left: 300px;
      font-size: x-large;

}
.item1 {
            background-color: rgb(0, 0, 0);
            font-size: x-large;
            margin-left: 300px;
     }
  
.item4 {
 margin-left: 300px; 
 font-size: x-large; 
}

nav{
    background-color: rgb(0, 0, 0);
    text-align: middle;
    height: 40px;
}

a{
    text-decoration: none;
    color: white;
}

footer{
    background-color: rgb(7, 7, 7);
    height: 100px; 
}
.canciones {
    font-size: x-large;
    color: rgb(216, 216, 216);
    background-color: #9b1212;
    margin-bottom: 20px;
    margin: 5%;
    padding: 0%;
    display: block;
}

.canciones:hover {
    background-color: #c21a1a;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.1);
}

img:hover {
    background-color: #4B7AF2;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.1);
}
